.input {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
}

.input_box{
    width: 100%;
    border-radius: 8px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.5s;
    box-shadow: inset 0 0 5px black;
}

.input_box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_submit{
position: absolute;
width: 60px;
height: 60px;
margin: 12px;
border-radius: 50px;
right: 0px;
border: none;
font-size: 15px;
background-color: cadetblue;
color: white;
transition: 0.3s all;
box-shadow: 0 0 10px black;
}

.input_submit:hover{
    background-color: rgb(127, 213, 216);
}

.input_submit:active{
    transform: scale(0.75);
    box-shadow: 0 0 5px black;
}

.container {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
}

.todos {
    display: flex;
    width: 47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 4px;
    background-color: rgb(199, 214, 210)
}

.todos__heading{
    font-size: 30px;
    color: #2c2a2a;
}

.todos_single{
    display: flex;
    /* border: 2px solid rgb(196, 190, 190); */
    border-radius: 12px;
    padding: 20px;
    margin-top: 15px;
    background-color: #8F8073;
    transition: 0.5s;
}

.todos_single:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.10);
}

.todos_single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todos_single--text:focus{
    outline: none;
}

.remove {
    background-color: rgb(243, 205, 205);
    opacity: 0.7;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(1, 20, 13);
}

.icon:hover {
    color: rgb(127, 213, 216);
    transition: 0.5s;
}

@media (max-width: 1100px) {
.todos {
    width: 45%;
}
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }

    .todos {
        width: 95%;
        margin-bottom: 10px;
    }

    .todos_single {
        width: 100%;
    }

    .container {
        width: 95%;
        flex-direction: column;
    }
}